<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!--Configuration Groups-->
  <configSections>
    <sectionGroup name="ScriptRunner">
      <section name="ScriptRunnerFunctionality" type="cco.devops.extension.transversal.dto.ValueObject.Settings.ScriptRunnerVo, 
               System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               allowLocation="true" allowDefinition="Everywhere"/>
      <section name="ScriptRunnerValuesParameters" type="cco.devops.extension.transversal.dto.ValueObject.Settings.ScriptRunner.ScriptRunnerPathVo, 
               cco.devops.extension.transversal.dto
               System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>





  </configSections>

  <!--Feature-->
  <appSettings>

    <!-- *************** [EXTENSION FEATURES] ***************-->
    <add key="Feature_ScriptRunner" value="true"/>
    <add key="Feature_IISRestarter" value="false"/>
    <add key="Feature_IISRecycler" value="false"/>
    <add key="Feature_EventLogManager" value="false"/>
    <!-- *************** [EXTENSION FEATURES] ***************-->



    <!-- *************** [FUNCTIONALITY] ***************-->
    <!--ScriptRunner Functionality-->
    <add key="ScriptRunnerFunctionality_EnableBathExecution" value="false"/>
    <add key="ScriptRunnerFunctionality_EnablePowerShellExecution" value="false"/>
    <add key="ScriptRunnerFunctionality_EnableJarExecution" value="false"/>


    <!--ScriptRunner Values Parameters-->

    <add key="ScriptRunnerValuesParameters_AppPoolRestarterScriptPath" value="c:/path/path.ps"/>
    <add key="ScriptRunnerValuesParameters_AppPoolRecyclerScriptPath" value="c:/path/path.ps"/>
    <add key="ScriptRunnerValuesParameters_EventSystemLogScripPath" value="c:/path/path.ps"/>
    <!-- *************** [FUNCTIONALITY] ***************-->


  </appSettings>
</configuration>