<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!--#ATR:Setup logger for Application-->
  <variable name="appName" value="cco.devops.extension.clients.appdyn.actionhelper" />

  <!--#ATR:Setting layour configuration for NLOG-->
  <variable name="TraceLayout" value="CCO.AppDynamics - TRACE - ${longdate} | ${logger} | ${level} | ${message}"/>
  <variable name="DebugLayout" value="CCO.AppDynamics - DEBUG - ${longdate} | ${logger} | ${level} | ${message} | ${exception:format=tostring}"/>
  <variable name="InfoLayout" value="CCO.AppDynamics - INFO - ${longdate} | ${logger} | ${level} | ${message}"/>
  <variable name="WarnLayout" value="CCO.AppDynamics - WARN - ${longdate} | ${logger} | ${level} | ${message} | ${exception:format=tostring}"/>
  <variable name="ErrorLayout" value="CCO.AppDynamics - ERROR - ${longdate} | ${logger} | ${level} | ${message} | ${exception:format=tostring}"/>
  <variable name="FatalLayout" value="CCO.AppDynamics - FATAL - ${longdate} | ${logger} | ${level} | ${message} | ${exception:format=tostring}"/>
  <targets>
    <target name="fileAsTrace" xsi:type="FilteringWrapper" condition="level==LogLevel.Trace">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogTrace_AppDyn.txt" layout="${TraceLayout}" />
    </target>
    <target name="fileAsDebug" xsi:type="FilteringWrapper" condition="level==LogLevel.Debug">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogDebug_AppDyn.txt" layout="${DebugLayout}" />
    </target>
    <target name="fileAsInfo" xsi:type="FilteringWrapper" condition="level==LogLevel.Info">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogInfo_AppDyn.txt" layout="${InfoLayout}" />
    </target>
    <target name="fileAsWarn" xsi:type="FilteringWrapper" condition="level==LogLevel.Warn">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogWarning_AppDyn.txt" layout="${WarnLayout}" />
    </target>
    <target name="fileAsError" xsi:type="FilteringWrapper" condition="level==LogLevel.Error">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogError_AppDyn.txt" layout="${ErrorLayout}" />
    </target>
    <target name="fileAsFatal" xsi:type="FilteringWrapper" condition="level==LogLevel.Fatal">
      <target xsi:type="File" fileName="${specialfolder:folder=Desktop}/Logs/${machinename}-${date:format=yyyy-MM-dd}-LogFatal_AppDyn.txt" layout="${FatalLayout}" />
    </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileAsTrace,fileAsDebug,fileAsInfo,fileAsWarn,fileAsError,fileAsFatal" />

  </rules>
</nlog>