<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <!--Configuration Groups-->
  <configSections>
    <sectionGroup name="ScriptRunner">
      <section name="ScriptRunnerFunctionality" type="cco.devops.extension.transversal.dto.ValueObject.Settings.ScriptRunnerVo, 
               System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               allowLocation="true" allowDefinition="Everywhere"/>
      <section name="ScriptRunnerValuesParameters" type="cco.devops.extension.transversal.dto.ValueObject.Settings.ScriptRunner.ScriptRunnerPathVo, 
               cco.devops.extension.transversal.dto
               System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
    allowLocation="true" allowDefinition="Everywhere"/> 
    </sectionGroup>


    


  </configSections>

  <!--Feature-->
  <appSettings>
    <!--Functionality [SCRIPT RUNNER]-->
      <!--Option-->
      <add key="[ScriptRunnerFunctionality]_EnableBathExecution" value="false"/>
      <add key="[ScriptRunnerFunctionality]_EnablePowerShellExecution" value="false"/>
      <add key="[ScriptRunnerFunctionality]_EnableJarExecution" value="false"/>
  

    <!--Values Parameters-->
      
      <add key="[ScriptRunnerValuesParameters]_AppPoolRestarterScriptPath" value="c:/path/path.ps"/>
      <add key="[ScriptRunnerValuesParameters]_AppPoolRecyclerScriptPath" value="c:/path/path.ps"/>
      <add key="[ScriptRunnerValuesParameters]_EventSystemLogScripPath" value="c:/path/path.ps"/>
  
     <!--Functionality [SCRIPT RUNNER]-->
  

  </appSettings>
</configuration>